body {
	background-color: #fd8d1a;
	color: #fefefe;
}

/*nav bar styles */
.material-symbols-outlined {
	font-variation-settings: "FILL" 0.5, "wght" 400, "GRAD" 0, "opsz" 24;
	vertical-align: bottom;
	margin-left: 5px;
}

.restaurant-name {
	text-align: center;
}

.navbar-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 60%;
	margin: 0 auto;
	list-style: none;
	border-top: 0.5px solid #292929;
	border-bottom: 0.5px solid #292929;
}

a {
	text-decoration: none;
	color: #010101;
}

/*description styles */

.main-concept {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-concept__img {
	border-radius: 45px;
	width: 100%;
	height: auto;
}

/* Menus styles */
#concept_title {
	text-align: center;
}

.menus-avalable {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	padding-left: 0;
}
.menu-avalable__op1,
.menu-avalable__op2,
.menu-avalable__op3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 25%;
	color: #fd8d1a;
	background-color: white;
	border-radius: 20px;
	padding: 0px 20px 50px 20px;
}

.menu-avalable__op1__img,
.menu-avalable__op2__img,
.menu-avalable__op3__img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 20px;
}

.menu-available__composition {
	color: #8b867f;
	margin: 0;
}

.menu-available__title {
	color: #fd8d1a;
	margin: 5px 0;
}

.menus-avalable__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #ff9d3a;
	color: white;
	width: 87%;
	padding: 13px;
	margin-top: 25px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 800;
	cursor: pointer;
}

.menus-avalable__button:hover {
	background: linear-gradient(90deg, #5e4127, #f76c16);
}

/* Schedule styles*/
.schedule-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.schedule {
	width: 100%;
	text-align: center;
	border: ;
}

.schedule,
.schedule-header,
.schedule-data {
	border: 1px solid white;
	border-collapse: collapse;
}

/* .schedule-time {
	
	
} */
/* Form styles */

.user-information {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input {
	width: 25%;
	padding: 5px;
	border-radius: 7px;
	border-style: none;
}

textarea {
	width: 45%;
	height: 150px;
}
