body {
	background-color: #fd8d1a;
	color: white;
}

.restaurant__name {
    text-align: center;
}

ul {
    list-style: none;
}

.navbar__list {
   display: flex; 
   justify-content: space-evenly;
   
}

.user_information {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input {
	width: 25%;
	padding: 5px;
	border-radius: 3px;
}

textarea {
	width: 45%;
	height: 150px;
}
